<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.picturesshowing">
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application

      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher_foreground"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity android:name=".FullActivity"></activity>

    <activity
        android:name=".RecyclerViewLinearActivity"
        android:label="@string/recyclerviewlin_activity_name"
        android:parentActivityName=".MainActivity" />

    <activity
        android:name=".RecyclerViewStaggeredGridActivity"
        android:label="@string/staggeredgridrecyclerview_name"
        android:parentActivityName=".MainActivity" />

    <activity
        android:name=".ListViewActivity"
        android:label="@string/listview_name"
        android:parentActivityName=".MainActivity" />

    <activity
        android:name=".GridViewActivity"
        android:label="@string/gridview_name"
        android:parentActivityName=".MainActivity" />
    <activity
        android:name=".RecyclerViewGridActivity"
        android:label="@string/recyclerviewgrid_activity_name"
        android:parentActivityName=".MainActivity" />

    <activity android:name=".MainActivity"
        android:launchMode="singleTop">
      <intent-filter>

        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.example.picturesshowing.MainActivity" />
    </activity>
  </application>
</manifest>